body {
  background-color: white;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  margin-right: 400px;
  margin-left: 400px;
  background-color: rgba(221, 213, 213, 0.442);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.input {
  width: calc(50% - 20px);
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #333;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.radio-group {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.radio-group input {
  margin-right: 5px;
}

.radio-group label {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.checkbox {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.checkbox label {
  margin-top: 7px;
  margin-bottom: 7px;
  display: flex;
  align-items: center;
  width: max-content;
}

.checkbox input {
  margin-right: 5px;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
.submit {
  background-color: green;
  color: #ccc;
  width: calc(50% - 20px);
  cursor: pointer;
}
